@import "~bootstrap/dist/css/bootstrap.min.css";
.characterImage {
  position: absolute;
  z-index: -1;
}
body {
  background-image: url("Background_1.png");
  background-size: cover;
  background-position: center;
}
